* {
    padding: 0;
    margin: 0;
    color: #2f2e41;
}

.bmi-title {
    font-size: 72px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
    background-image: linear-gradient(to bottom, #eeda58, #c4e874, #9af29b, #73f7c5, #5af9eb);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.bmi-header {
    height: 17.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.bmi-spacer {
    height: 10vh;
}


.bmi-body {
    height: 62.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bmi-img-container {
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #eeda58, #c4e874, #9af29b, #73f7c5, #5af9eb);
    background-attachment: fixed;
}

.bmi-img {
    height: 100%;
}

.bmi-form-container {
    max-width: 50%;
    min-width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bmi-form {
    width: 100%;
    min-height: 65%;
}

.bmi-info-container {
    height: 12.5%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi-info {
    display: inline-block;
    white-space: pre-wrap;
}

.bmi-output-valid,
.bmi-output-invalid  {
    height: 25%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bmi-output-invalid {
    flex-direction: column;
}

.bmi-output-valid {
    flex-direction: row;
}


.bmi-output-column {
    margin: 1rem;
    font-size: 1.25rem;
    width: 50%;
}

.bmi-left {
    height: 100%;
    min-width: 10%;
}

.bmi-right {
    height: 100%;
    min-width: 20%;
}

.inline-bold {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmi-footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

