.text-btn-container {
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    border-radius: 35px;
    border: 4px solid #bdea7a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 0rem 1.5rem;
}

.text-btn-icon {
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
    .text-btn-container {
        height: 5vh;
    }
}


@media screen and (max-width: 768px) {
    .text-btn-container {
        min-height: 5vh;
        padding: 1rem 1.5rem;
    }
}