* {
    padding: 0;
    margin: 0;
}

.proj-title {
    font-size: 72px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Lobster Two', cursive;
    background-image: linear-gradient(to bottom, #eeda58, #c4e874, #9af29b, #73f7c5, #5af9eb);
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.proj-header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-spacer {
    height: 10vh;
}

.proj-img-container {
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-img {
    height: 100%;
}

.proj-form-container {
    max-width: 25rem;
    min-width: 19rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.proj-form {
    width: 100%;
    min-height: 55%;
}

.proj-info-container {
    height: 10%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-info {
    display: inline-block;
    white-space: pre-wrap;
}

.inline-bold {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proj-result-container {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}