.proj-form {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.proj-container {
    margin: 1rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}







.proj-container .option-1-background,
.proj-container .option-2-background {
    width: 50%;

    /*
    background: #6d5a75;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-attachment: fixed;
    */
    background: linear-gradient(to top, #c072ec, #c76fe3);;
}

.proj-container .option-1-background.active,
.proj-container .option-2-background.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 3px 0px 3px;
    box-sizing: border-box;
}

.proj-container .option-1,
.proj-container .option-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
}

.option-1-background.active .option-1,
.option-2-background.active .option-2 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
}

.option-1-background .option-1-text,
.option-2-background .option-2-text {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    padding: 0.2rem;
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.option-1-background.active .option-1-text,
.option-2-background.active .option-2-text {
    width: 100%;
    border-radius: 5px;
    padding: 0.2rem;

    /*
    background: #6d5a75;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-attachment: fixed;
    */
    background-color: #c670e9;
}

.proj-container .option-container-background {
    width: 100%;

    /*
    background: #6d5a75;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-attachment: fixed;
    */
    background: linear-gradient(to bottom, #c76fe3, #d963af);;

    border-radius: 0px 0px 10px 10px;
    padding: 0px 3px 3px 3px;
}

.proj-container .option-container {
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    padding: 1.75rem 0.5rem 1.25rem 0.5rem;
}

.proj-container DateInput {
    transition: transform;
}

.proj-container .hidden {
    transform: translateX(150%);
}

.proj-form .element-31 {
    background-color: #9c83ec;
}

.proj-form .element-32 {
    background-color: #b179ec;
}

.proj-form .element-33 {
    background-color: #d467c0;
}