.bmr-form .element-1 {
    background-color: #aded8a;
}

.bmr-form .element-2 {
    background-color: #a3f094;
}

.bmr-form .element-3 {
    background-color: #99f29c;
}

.bmr-form .element-4 {
    background-color: #8ff3a6;
}

.bmr-form .element-5 {
    background-color: #86f4b0;
}