.tdee-img {
    height: 100%;
    background-image: linear-gradient(to bottom, #eeda58, #c4e874, #9af29b, #73f7c5, #5af9eb);
    background-attachment: fixed;
}

.tdee-form {
    width: 100%;
    min-height: 40%;
}
 
.tdee-info-container {
    padding-top: 3vh;
    height: 10%;
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdee-info {
    display: inline-block;
    white-space: pre-wrap;
}

.tdee-result-container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 2rem;
}

.tdee-result {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 4rem;
    padding: 0rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(199, 199, 199);
    border-radius: 15%;

    -webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to bottom, #eeda58, #c4e874, #9af29b, #73f7c5, #5af9eb);
    background-attachment: fixed;
	color: transparent;

}

.tdee-definition {
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    border-radius: 1rem;
    width: 80%;
}